# flagfile for the roq-kucoin-pro gateway

--rest_uri=https://api.kucoin.com
--ws_public_uri=wss://x-push-futures.kucoin.com
--ws_private_uri=wss://wsapi-push.kucoin.com
--ws_uri=wss://wsapi.kucoin.com/v1/private
